################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADONetHelper.Oledb/v15
/bin/Release
/obj
*.dtbcache
