################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADONetHelper.Oledb/v15
/bin/Release
/obj
*.dtbcache
/bin/Debug
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/ADONetHelper.Oledb/v16
